.logout-component {
    
    text-align: center;
    .logout-logo {
        max-width: 200px;
    }

    .logout-title {
        font-size:30px;
    }

    .logout-description {
        font-size:16px;
        margin-top: 15px;
    }

}